{% extends "main/base.html" %}

{% block content%}
<div id="layoutSidenav_content">
<div class="container-fluid px-4 py-1">

<div class="container mt-5">
<div class="card shadow-custom">
    <div class="card-body">
        <h3 class="text-center py-2 my-2" > Change your password</h3>
        <form method="POST" class="form-vertical" action="{% url 'change_password' %}">
        {% csrf_token%}
        {{form}}
        <div class="control-group my-2">
            <!-- Button -->
            <div class="controls">
                <button class="btn btn-success btn-sm">update</button>
                <a class="btn btn-outline-secondary btn-sm" href="javascript:history.back()">Go Back</a>
                
            </div>
            </div>
        </form>
    </div>
</div>


</div>
</div>
</div>
{% endblock content %}