{% extends "main/base.html" %}

{% block content %}

<div id="layoutSidenav_content">
<div class="container-fluid px-4 py-1">
  <div class="card shadow-custom">
    <div class="card-body">
    <form class="form-horizontal" enctype="multipart/form-data" method="POST">

    {% csrf_token %}

    <h1 class="mt-4 py-5">Update profile information</h1>
      
        <div class="card shadow-custom mb-4"  style="background-color:{% if user_form.instance.doctorprofile%}#18b1da{% elif user_form.instance.patientprofile%}#afaf0c;{% else%}#119fa5{% endif %}">
             <div class="card-body">
              <img  class="avatar avatar-xxl ms-5 mt-2 border border-4 border-dark" src="{{form.instance.imageURL}}" />
          
              <div class="py-2">
                  <h1>{% if user_form.instance.doctorprofile %}Dr.{% endif %} {{user_form.instance.first_name}} {{user_form.instance.last_name}}</h1>
                  {% if user_form.instance.doctorprofile %}
                  
                    {% for item in form.instance.expertise.all%}
                      <b><small class="ms-1">{{item.name}},</small></b>
                    {% endfor %}
                  {% elif user_form.instance.adminprofile %}
                  <small class="ms-1">Site admin </small>
                  {% endif %}
                
              </div>
            </div>
        </div>
      <div class="card shadow-custom py-3 my-3">
        <div class="card-body">
        {{user_form.as_table}}
        <hr>
        {{form.as_table}}
        {{form.media}}
        </div>
      </div>

      <div class="control-group">
          <!-- Button -->
          <div class="controls">
            <button class="btn btn-success btn-sm">update</button>
            <a href={% url 'change_password' %} class="btn btn-outline-info btn-sm">Change password</a>

            <a class="btn btn-outline-secondary btn-sm" href="{% url 'dashboard' %}">Go Back</a>
          </div>
        </div>
    </form>
    </div>
  </div>

  </div>
</div>



{% endblock content %}